*,
::after,
::before {
  margin: 0;
  pading: 0;
  outline: none;
  box-szing: border-box;
}
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  scroll-behaviour: smooth;
}
body {
}
